*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.object{
    display: flex;
    height: 200px;
    width: 200px;
    border: 2px solid black;
    
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0 50px 0;
}
.up,
.down{
    display: flex;
    gap: 80px;
}
.up{
    margin-bottom: 80px;
}
.palette{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 80px;
    height: 280px;
    border: 4px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 10px;
}
.red{
    background: red;
}
.yellow{
    background: yellow;
}
.blue{
    background: #2596be;
}
.black{
    background: black;
}
.white{
    display: flex;
    align-items: center;
    justify-content: center;
}
.color{
    width: 45px;
    height: 45px;
    border: 2px solid black;
    border-radius: 10px;
}
svg {
    width: 35px;
    height: 35px;
}
